.grande{
    height: 500px;
    transform: translateY(0px);
    animation: float ease-in-out 2s infinite;
}

.medio{
    height: 300px;
    transform: translateY(0px);
    animation: float ease-in-out 2s infinite;
}

.pequeno{
    height: 200px;
    transform: translateY(0px);
    animation: float ease-in-out 2s infinite;
}

.arredondado{
    height: 500px;
    border-radius: 30px;
    transform: translateY(0px);
    animation: float ease-in-out 2s infinite;
}

.circulo{
    height: 400px;
    width: 500px;
    border-radius: 100%;
    box-shadow: 5px 5px 8px black;
    transform: translateY(0px);
    animation: float ease-in-out 2s infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}